langchain
langchain-groq
langchain-community
langgraph
dotenv
streamlit
qdrant-client
langchain-huggingface
sentence-transformers
rank-bm25
cohere
python-docx 
unstructured
pydantic-settings
uvicorn
ragas
datasets
structlog
pytest
pytest-asyncio
httpx
tiktoken
tenacity